@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

html {

    height: 100%;
    margin: 0;
    background-color: #000000;
}

body {
    height: 100%;
    font-family: 'JetBrains Mono', monospace;
    background-color: transparent;
    color: #000000;
    margin: 0;
    overflow-x: hidden;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

.main {

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;

}

.binary {
    position: absolute;
    top: 0;
    left: 300px;
    z-index: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation-duration: 1s;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: #009a22;
    text-shadow: 0 0 10px #1d9f09;
}

.nadpis {

    color: #000000;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    background:linear-gradient(
        110deg,
        #ffffff 40%,
        #000000 70%,
        #ffffff 60%
    );

    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: lesk 3.5s linear infinite;
}
@keyframes lesk {
    from { background-position: 200% 0;}
    to { background-position: -200% 0;}
}

.conteiner {

    display: flex;
    justify-content: center;
}

.avatar {

    box-sizing: border-box;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #342223;
    cursor: pointer;

}

.avatar-wrap {

    position: relative;
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.status {
    
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #80848e;
    border: 4px solid #180538
}

#aktivita {
    
    text-align: center;
}

.odkazy {

    display: flex;
    justify-content: center;
    gap: 16px;
    
}

.icon {

    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

/* kdyz najedu mysi, zvetsi se ikony */
.icon:hover {

    transform: scale(1.25);
}

.info-section {

    align-items: flex-start;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.info1 {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    max-width: 200px;
    color: whitesmoke;
    margin: 0 auto;
}

.info2 {

    position: absolute;
    top: 0;
    left: calc(50% + 100px + 24px);
    z-index: 1; 
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    max-width: 200px;
    color: whitesmoke;

}

.info3 {

    position: absolute;
    top: 0;
    right: calc(50% + 100px + 24px);
    z-index: 1; 
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    max-width: 200px;
    color: whitesmoke;

}

.url-read {

    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 2px;
    transition: color 0.2s, border-color 0.2s;
}

.url-read:hover {

    color: #660000;
    border-color: #660000;
}

.timer {

    text-align: center;
    color: whitesmoke;
    font-size: 16px;
    z-index: 1;
}
